* {
  all: revert !important;
}

#tag:before {
  content: "I AM A ";
}

#tag:after {
  content: ", I AM A DEVELOPER, I AM A DEVELOPER, I AM A DEVELOPER, I AM A DEVELOPER, I AM A DEVELOPER, I AM A DEVELOPER, I AM A DEVELOPER, I AM A DEVELOPER, I AM A DEVELOPER, I AM A DEVELOPER";
}

#profileStatus:after {
  content: " NO STATUS"
}