<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CatboyLand</title>
    <meta content="CatboyLand" property="og:title" />
    <link rel="icon" type="image/x-icon" href="../favicon.ico">
    <meta content="Where the fun never starts!" property="og:description" />
    <meta content="https://9bv5rttd-3000.use.devtunnels.ms/" property="og:url" />
    <meta content="./cdn/files/logo.jpg" property="og:image" />
    <meta content="#32a852" data-react-helmet="true" name="theme-color" />
    <script src="/cdn/scripts/captcha.js"></script>
</head>
<body>
    <div class="question1">
        Are you a robot?<br />
        <button class="bad">yes</button>
        <button class="b1">no</button>
    </div>
    <div class="question2">
        Are you sure you're not a robot?<br />
        <button class="b2">yes</button>
        <button class="bad">no</button>
    </div>
    <div class="question3">
        Cause, you know, you have to tell us if you are?<br />
        <button class="b3">I'm not</button>
        <button class="bad">FINE, I am a robot ):</button>
    </div>
    <div class="finish">
        <h1>YIPPIEEE!!! You can go to catboy land now lmao</h1>
    </div>
</body>
</html>
