<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Downloads</title>
</head>
<body>
    <h1>Im too lazy to make this look nice so pick which OS you use</h1>
    <a href="/download/win">Windows (beta)</a> - highly unstable, just use chrome<br>
    <a href="/download/mac">MacOS (beta)</a> - unstable but mostly wroking<br>
    <a href="/download/linux">Linux (alpha)</a> - wouldnt compile...
</body>
</html>