<!DOCTYPE html>
<html>
<head>
    <title>CatboyLand - 404</title>
    <meta content="CatboyLand - 404 not found" property="og:title" />
    <link rel="icon" type="image/x-icon" href="../favicon.ico">
    <meta content="A cat walked on my keyboard and broke the page.. :(" property="og:description" />
    <meta content="http://eeeeeeee-36474.portmap.host:36474/" property="og:url" />
    <meta content="" property="og:image" />
    <meta content="#32a852" data-react-helmet="true" name="theme-color" />
    <script src="https://unpkg.com/twemoji@latest/dist/twemoji.min.js" crossorigin="anonymous"></script>
    <script>
      (function (w, d, e, v, o, l, t){w['ToldWidget']=o; w[o]=w[o] || function (){(w[o].q=w[o].q || []).push(arguments);}; w[o].l=1 * new Date();l=document.createElement(e);t=document.getElementsByTagName(e)[0]; l.async=1; l.src=v; t.parentNode.insertBefore(l, t);})(window, document, 'script', 'https://scripts.told.club/sdk/sdk.js', 'told');
      told('init', '6531c472a9fcd55646f0f7f9');
    </script>
    <style>
      * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #fff;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1, h2 {
    color: #fff;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  header {
    background-color: #1a1a1a;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }

        #signupForm {
  margin-top: 20px;
}

#signupForm label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

#signupForm input[type="text"],
#signupForm input[type="password"] {
  width: 100%;
  padding: 5px;
  border: none;
  background-color: #444;
  color: #fff;
  margin-bottom: 10px;
}

#signupForm button[type="submit"] {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

#signupForm button[type="submit"]:hover {
  background-color: #777;
}

.signin {
  text-decoration: underline;
}
    </style>
</head>
<body>
    <header>
        <h1>CatboyLand</h1>
    </header>
    
    <div class="container" style="overflow: hidden;">
        <h2>Bot</h2>
        <p>Bad >:C</p>
        <br />
        <p>smh</p>
    </div>
</body>
</html>
