body {
    background-color: #000;
    color: #fff;
    background-image: url(https://9bv5rttd-3000.use.devtunnels.ms/cdn/files/background.png);
    background-repeat: no-repeat;
    background-position: center 20%;
    background-size: 100%;
  }
  
  .headertext {
    color: orange;
    font-family: 'Creepster', cursive;
    padding: auto;
    margin: auto;
  }
  
  nav ul li a {
    color: orange;
  }
  
  .search {
    background-color: #222;
  }
  
  .textbox {
    background-color: #333;
    color: #fff;
  }
  
  .searchButton {
    background-color: orange;
    color: #000;
  }

  .searchButton:hover {
    background-color: rgba(255, 166, 0, 0.8);
    color: #000;
  }
  
  .profilePicture img {
    border: 3px solid orange;
    padding: 3px;
  }
  
  #profileUsername, #tag {
    color: orange;
  }
  
  #profileStatus {
    border-top: 1px solid orange;
    padding-top: 15px;
  }
  
  h3 {
    color: orange;
  }
  
  #tag {
    color: white;
  }